<h1>World Cup Teams 2014</h1>

<div ng-app="app">
  <div ng-controller="pagesCtrl">
    <label>
      Find team:
        <input ng-model="nameFilter">
    </label>
    <div ng-repeat="team in teams | filter: {title: nameFilter}">
      <h3 ng-click="toggleAbbreviation(team)">{{team.title}}</h3>
      <div ng-if="team.showAbbreviation">
      <p>abbreviation: {{team.code}}</p>
      </div>
    </div>
  </div>
</div>
